<!DOCTYPE HTML>
<html>
    <head>
        <style>
            body {
            margin: 0px;
            padding: 0px;
            }
        </style>
    </head>
    <body>
        <canvas id="myCanvas" width="900" height="900"></canvas>
        <script>
            var canvas = document.getElementById('myCanvas');
            var context = canvas.getContext('2d');
            var x = 20;
            var y = 20;

            var colour;

            context.beginPath();

            for (i=0; i<11; i++){
                
                x = 20;
                for (j=0; j<11; j++) {

                    context.rect(x, y, 80, 80);
                    
                    if  (j == 1) {// && ( (y < 260) || (y > 660) ) {
                       
                        context.fillStyle = 'yellow';
                    }
                    else{
                        context.fillStyle = "#DED0B5";
                    }

                    context.fill();
                    context.lineWidth = 2;
                    context.strokeStyle = 'black';
                    context.stroke();
                    x += 80;
                }
                y += 80;
            }

        </script>
    </body>
</html>   
